# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
# Only uncomment vendor/ if you do not want to commit your vendored dependencies
# vendor/

# IDE specific files (optional but recommended)
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
